[graph]
targets = [
    { triple = "aarch64-apple-darwin" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
    { triple = "x86_64-unknown-linux-gnu" },
]

[licenses]
allow = ["Apache-2.0", "MIT", "Unicode-3.0"]

[bans]
multiple-versions = "deny"
skip = [
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
