targets = [
    { triple = "aarch64-apple-darwin" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
    { triple = "x86_64-unknown-linux-gnu" },
]

[advisories]
vulnerability = "deny"
unmaintained = "deny"
unsound = "deny"
yanked = "deny"
notice = "deny"
ignore = ["RUSTSEC-2023-0071"]

[licenses]
allow = ["Apache-2.0", "BSD-3-Clause", "ISC", "MIT", "Unicode-DFS-2016"]
copyleft = "deny"

[bans]
multiple-versions = "deny"
skip = [
    { name = "regex-automata", version = "=0.1.10" },
    { name = "regex-syntax", version = "=0.6.29" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
