[package]
name = "native-pkcs11-keychain"
version = "0.2.17"
description = "native-pkcs11 backend for macos keychain."
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
native-pkcs11-traits = { version = "0.2.0", path = "../native-pkcs11-traits" }
p256 = { version = "0.13.2", default-features = false, features = [
    "arithmetic",
    "pkcs8",
    "std",
] }
rand = "0.8.5"
rsa = { version = "0.9.6", default-features = false, features = ["std"] }
# TODO: temporary workaround for RustCrypto/traits#1262, remove after upgrading
# the p256 package past 0.13.0.
spki = { version = "0.7.3", features = ["std"] }
thiserror = "1.0.57"
tracing = "0.1.40"
tracing-error = { version = "0.2.0", default-features = false }
x509-cert = { version = "0.2.5", default-features = false }

[dev-dependencies]
serial_test = { version = "3.1.0", default-features = false }

[target.'cfg(target_os="macos")'.dependencies]
core-foundation = { version = "0.9.4", features = ["mac_os_10_8_features"] }
apple-security-framework = { version = "2.9.2", features = ["OSX_10_15"] }
apple-security-framework-sys = { version = "2.9.1", features = ["OSX_10_15"] }
